*{
    padding: 0;
    margin: 0;
}
*::after,*::before{
    padding: 0;
    margin:0;
}
body{
    padding:0 20px;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    color:hsl(233, 13%, 49%);
    font-size: 15px;
    background-image: url("../images/bg-top.svg"),url("../images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif;
    font-weight:400
}

h1{
    font-size:2.4em;/* 36px */;
    margin-bottom: 40px;

}
header{
    /* height: 300px; */
    margin-top:70px;

}

#toggle-con{
    display: flex;
    justify-content: space-between;
    width:300px;
    align-items: center;
    margin:0px auto;
    height:60px;
}
#toggle-con h4{
    margin-top: 20px;
}
.toggle{
    opacity:0
}
.switch-btn{
    width:80px;
    height:40px;
    background-color: hsl(237, 63%, 64%);
    position:relative;
    cursor: pointer;
    border-radius: 20px;
}
.switch-btn::before{
    content: '';
position: absolute;
height: 36px;
width:36px;
background-color: white;
left:2px;
top:2px;
transition: all 150ms ease-out;
    border-radius: 50%;

}

input[type=checkbox]:checked + .switch-btn::before{
left: 42px;
}  
#grid-con{
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,350px));
    grid-template-rows: 550px;
    grid-template-areas: 
    'basic professional master';
    justify-content: center;
    margin-top: 100px;
}

.bundle-con{
    padding: 20px 20px 0 0;
    border-radius: 10px;
    background-color: white;

}

.bundle-con ul{
    list-style: none;
    margin: 0 7%;
    width: 90%;
    text-align: center;

}
.bundle-con ul li{
    padding:20px;
    margin: 0 auto;
    
}

#basic{
    grid-area: basic;
}
#professional{
    grid-area: professional;
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:white;
    height: 560px;
    margin-top: -40px;
    padding-top:60px
}

/* .hide-month ul .hide-month{
    display: none;
}
.hide-annual ul */

.hide{
    display: none;
}
#master{
    grid-area: master;
}
.border{
    border-bottom: 1px solid hsl(234, 14%, 74%);
}
.month,.annual{
    font-size: 3em;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
}
#professional ul .month,#professional ul .annual{
 color:white  
}
.month p,.annual p{
    display: inline-block;
}

.learn-more{
    color:white;
    border-radius: 10px;
    margin-top:40px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
     height:40px;
     border-color: hsl(237, 63%, 64%);
}
#basic ul button,#master ul button{
 background-image: linear-gradient(to right ,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
}
#professional ul button{
    background-image: white;
     color:hsl(237, 63%, 64%);
}
.sign{
    font-size: 0.7em;
    padding-top: -10px;
}

@media screen and (max-width:1120px){
    #toggle-con{
        width: 60%;
        
    }
    #toggle-con h4{
        font-size: 2em;
    }
    body{

       margin:0 auto;
    }
    h1{
        font-size:3em;/* 45px */

    }
    #grid-con{
        display: block;
    }
    .bundle-con{
        width:500px;
        height: 450px;
        margin:70px  auto ;
    }
    #professional{
        height:450px;
        padding-top:30px;
        color:white !important
    }
    .learn-more{
        border:0.5px solid hsl(237, 63%, 64%)
    }
}
@media screen and (max-width:640px) {
    .bundle-con{
        width:80%;
        height: 450px;
        margin:70px  auto ;
    }
     #toggle-con{
        width: 80%;
        
    }
    
}